<section id="products" class="position-absolute">
  <app-sidebar-header></app-sidebar-header>
  <div class="products-container">
    <div class="menu">
      <ul>
        <li><a href="">About Item</a></li>
        <li><a href="">Features</a></li>
        <li><a href="">Product Specifications</a></li>
        <li><a href="">Video</a></li>
      </ul>
    </div>
    <section id="about-item">
      <div class="about-item-container">
        <div class="product-number">
          <h4></h4>
        </div>
        <div class="title">
          <h1></h1>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="move-to-bottom">
          <img src="/images/move-to-bottom.svg" alt="">
        </div>
      </div>
    </section>
    <section id="features">
      <div class="features-container">
        <div class="title">
          <h2>Features</h2>
        </div>
        <div class="list">
          <ul>
            <li></li>
          </ul>
        </div>
        <div class="cards">

        </div>
      </div>
    </section>
    <section id="specifications">
      <div class="specifications-container">
        <div class="title">
          <h2>Product Specifications</h2>
        </div>
      </div>
    </section>
    <section id="video">
      <video src="">

      </video>
    </section>
  </div>
</section>
