<section id="footer" class="mx-5 mb-3">
  <div class="footer-container d-flex gap-4 flex-column">
    <hr class="mx-4">
    <div class="contact d-flex justify-content-between">
      <div class="phone d-flex flex-column justify-content-center align-items-center gap-2">
        <img ngSrc="/images/phone.svg" alt="" height="24" width="25">
        <div class="d-flex flex-column">
          <span class="text-decoration-underline">+917025859999</span>
          <span class="text-decoration-underline">04952968751</span>
        </div>
        <p>Mon - Sat 9:00 - 19:00</p>
      </div>
      <div class="address d-flex flex-column justify-content-center align-items-center gap-2">
        <img ngSrc="/images/pin.svg" alt="" height="24" width="25">
        <span>Optind solutions Pvt Ltd</span>
        <p class="w-50">5/1006, Power Electrical Building Kattangal NIT Campus P.O Kozhikode, Kerala, India- 673601</p>
      </div>
      <div class="email d-flex justify-content-center align-items-center gap-2">
        <img ngSrc="/images/mail.svg" alt="" height="24" width="25">
        <span class="text-decoration-underline">{{ 'admin@optind.in' }}</span>
      </div>
    </div>
    <div class="terms-conditions d-flex gap-5">
      <p class="text-decoration-underline">TERMS AND CONDITIONS OF WEBSITE USE</p>
      <p class="text-decoration-underline">PRIVACY POLICY</p>
    </div>
    <div class="copyright">
      <p>Copyright © 2024 Optind. All rights reserved - Developed by DoodleX</p>
    </div>
  </div>
</section>
