<section id="our-services" class="my-5">
  <div class="our-services-container">
    <div class="title text-center my-5">
      <h1>Our Services</h1>
    </div>
    <div class="cards d-flex justify-content-between">
      <div class="card-1 text-center d-flex justify-content-center align-items-center">
        <h2>EPAC Online</h2>
        <p class="w-75">(Prepared for Chiappalone Consulting Pvt Ltd, Australia): It’s an online spectral analysis platform.</p>
        <img src="/images/epac.png" alt="">
      </div>
      <div class="card-1 text-center  d-flex justify-content-center align-items-center">
        <h2>The EyeCSite 2.0 Software</h2>
        <p class="w-75">(Prepared for Opgal Optronic Industries Ltd, Israel). It is an elegant tool that gives an extra edge to gas leak detection technique.</p>
        <img src="/images/eyecsite.png" alt="">
      </div>
    </div>
  </div>
</section>
