<section id="header">
  <div class="header-container">
    <div class="d-flex position-relative">
      <div class="logo d-flex flex-column">
        <img src="/images/logo.png" alt="Optind Logo"/>
        <span class="caption">Perception Redefined</span>
      </div>
      <div class="header-menu px-5 py-4">
        <ul class="d-flex gap-3">
          <li><a href="#">Home</a></li>
          <li ><a href="#about-us">About Us</a></li>
          <li><a href="#our-services">Service</a></li>
          <li><a href="#our-products">Products</a></li>
          <li><a href="#locate-us">Contact Us</a></li>
        </ul>
        <img src="/images/header-menu-bg.svg" alt="" class="menu-bg-img position-absolute w-50">
      </div>

    </div>
  </div>
</section>
