<section id="terms">
  <div class="back cursor-pointer d-flex justify-content-end align-items-center gap-2">
    <a routerLink="/" class="back-arrow"><span><img src="/images/back-black.svg" alt="Back">Back</span></a>
  </div>
  <div class="terms-conditions-container">
    <div class="title-box">
      <div class="title mb-5">
        <h1>
          Terms and Conditions of Website Use
        </h1>
      </div>
      <div class="ownership">
        <h3>Ownership</h3>
        <p class="mt-4">Optind Solutions Private Limited ("Optind") maintains this Site (www.optind.in) to provide information about
          our services, products, and solutions related to climate tech, air quality monitoring, and software support.
          By browsing this Site, you agree to comply with the terms outlined below.
          You may download materials displayed on this Site for personal, non-commercial use only. If you represent a
          business or organization, you may download information solely for internal, non-commercial purposes. This
          permission requires retaining all copyright and proprietary notices on the materials. Any modification,
          distribution, or public use of the content, including text, images, audio, and video, requires prior written
          permission from Optind.
          Accessing and using this Site constitutes your acceptance of these Terms and Conditions and all applicable
          laws.</p>
      </div>
    </div>
    <hr class="my-5">
    <div class="terms-box">
      <h3 class="mb-4">
        Terms and Conditions of Use
      </h3>
      <ol>
        <li>
          <h5>Content Usage</h5>
          <p>All content on this Site is protected by copyright unless otherwise noted. It may not be used except as
            permitted by these Terms or the Site content itself. You are not allowed to distribute, modify, transmit,
            reuse, or use the Site content for commercial purposes without written approval from Optind Solutions
            Private Limited.</p>
        </li>
        <li>
          <h5>Limitation of Liability</h5>
          <p>While we strive for accuracy, Optind does not guarantee the accuracy or completeness of the content on this
            Site. Optind disclaims liability for any errors or omissions. Your use of this Site is at your own risk, and
            everything is provided "AS IS," without warranties, either express or implied</p>
          <p>Optind will not be liable for any damages, including direct, indirect, incidental, or consequential damages
            arising from your use of this Site. Additionally, Optind is not responsible for any viruses or harmful
            components that may affect your equipment as a result of using this Site.</p>
        </li>
        <li>
          <h5>User Responsibilities</h5>
          <p> Users may not distribute, exchange, modify, sell, or transmit any materials from this Site for commercial
            or public purposes. Optind grants a limited, non-exclusive, non-transferable right to access and use the
            Site for personal or internal business purposes, provided you comply with these Terms.</p>
        </li>
        <li>
          <h5>Links to Third-Party Websites</h5>
          <p>The Site may contain links to external websites not controlled by Optind. These links are provided for your
            convenience, and Optind does not endorse or accept any responsibility for the content of these external
            sites. Your use of linked websites is subject to their respective terms and conditions.</p>
        </li>
        <li>
          <h5>Product and Service Availability</h5>
          <p>Products and services displayed on this Site may not be available in all regions. You should check with
            Optind or authorized representatives regarding the availability of specific products or services in your
            area.</p>
        </li>
        <li>
          <h5>Changes to Terms and Conditions</h5>
          <p> Optind reserves the right to update these Terms and Conditions at any time. You are encouraged to review
            this page periodically to stay informed of the current terms.</p>
        </li>
        <li>
          <h5>Governing Law</h5>
          <p>These Terms and Conditions are governed by and construed in accordance with the laws of India. Any disputes
            arising from these Terms shall be subject to the exclusive jurisdiction of the courts in India.</p>
        </li>
      </ol>
    </div>
    <hr class="my-4">
    <div class="copyright">
      <h3 class="my-5">Copyright and Trademarks</h3>
      <p>All content on this Site, including text, graphics, logos, and images, is the property of Optind Solutions
        Private Limited unless otherwise stated. The trademarks, logos, and service marks displayed on the Site are the
        property of Optind or their respective owners. No permission is granted to use any trademarks displayed on the
        Site without written authorization from Optind.</p>
    </div>
  </div>
</section>
