<section id="features" class="m-5">
  <div class="features-container d-flex justify-content-between align-items-center">
    <div class="text-box">
      <h1 class="title">Why Choose Optind?</h1>
      <p class="py-2">Optind combines a passion for innovation with a commitment to quality, putting our clients’ needs first. Our solutions are backed by extensive research, hands-on experience, and a dedication to fostering sustainable environmental change.</p>
    </div>
    <div class="logo">
      <img ngSrc="/images/optind.png" alt="" height="275" width="275">
    </div>
  </div>
</section>
