<section id="about-us">
  <div class="about-us-container">
    <div class="main">
      <div class="text w-50">
        <h1 class="title">About Us</h1>
        <p>Optind stands out as one of the leading company in India, as far as Climate Tech is concerned.  The company has got expertise in instrumentation solutions for designing and implementing products for varied needs in the field of air quality monitoring.  Optind also provides software solutions for other companies dealing with instrumentation projects.  Our rich R&D team enhances the growth of the company in multiple dimensions and helps providing quick solutions to our clients.</p>
      </div>
      <div class="cards d-flex justify-content-between">
        <div class="about-us-box d-flex flex-column justify-content-center align-items-center text-center">
          <h1 class="about-text text-uppercase">About</h1>
          <h1 class="us-text text-uppercase">Us</h1>
        </div>
        <div class="mission-vision d-flex">
          <div class="mission">
            <h3>Our Mission</h3>
            <p>To empower clients with comprehensive climate tech solutions, supporting their journey to a cleaner, safer environment.</p>
          </div>
          <div class="vision">
            <h3>Our Vision</h3>
            <p>To meet and exceed client expectations through reliable, quality-driven solutions, building trusted partnerships through feedback and adaptability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
